/*Animations*/

@-webkit-keyframes bounce {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  20% {
    transform: translateX(-10px) rotateY(180deg);
  }
  40% {
    transform: translateX(10px) rotateY(180deg);
  }
  60% {
    transform: translateX(-10px) rotateY(180deg);
  }
  80% {
    transform: translateX(10px) rotateY(180deg);
  }
  100% {
    transform: translateX(0) rotateY(180deg);
  }
}

@-webkit-keyframes happy {
  0% {
    transform: scale(0.1) rotateX(-45deg);
  }
  20% {
    transform: scale(0.3) rotateX(45deg);
  }
  40% {
    transform: scale(0.5) rotateX(-50deg);
  }
  60% {
    transform: scale(0.7) rotateX(70deg);
  }
  80% {
    transform: scale(0.9) rotateX(-70deg);
  }
  100% {
    transform: scale(1) rotateX(0deg);
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

body {
  text-align: center;
  background: linear-gradient(-45deg, #a29df1, #cea07f, #79c5e1, #5d61d5);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

canvas {
  padding: 0;
  margin-top: -40px;
  max-height: 600px;
}

.lvl {
  font-size: 32px;
  margin: 0;
  color: #fff;
  font-family: 'Bungee Inline', cursive;
  padding: 0;
}

.lvl i {
  padding: 0 5px;
}

/*Sucess Message*/

.success {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  padding: 15px;
  opacity: 0;
  z-index: -9;
  transition: 0.3s;
}

.success-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  font-family: 'Bungee Inline', cursive;
}

.success i {
  font-size: 40px;
  color: #f7b600;
  float: right;
  margin: 50px 0;
  cursor: pointer;
}

.success h1 {
  color: #08c08f;
  font-size: 55px;
  margin: 0;
}

.success.show {
  opacity: 1.9;
  z-index: 999;
}

.success.show h1 {
  -webkit-animation: happy ease-in-out 1s;
  animation: happy ease-in-out 1s;
}

/* Extra small devices (phones, up to 480px) */

@media screen and (max-width: 767px) {
  canvas {
    max-width: 360px;
    min-height: 450px;
  }
}
